{% extends 'base.html' %}

{% block title %} главная страница {% endblock %}

{% block body %}


<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-4">
            <span class="fs-4">Мониторинг комплекса энергосбережения</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/add-password" class="btn btn-outline-success">Добавить новый пароль</a></li>
        </ul>
    </header>



<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Пароль</th>
      <th scope="col">Дата</th>
    </tr>
  </thead>
{% for password, time in passwords%}
  <tbody>
    <tr>
      <td>{{password}}</td>
      <td>{{time}}</td>
    </tr>
  </tbody>
<br>


{% endfor %}


{% endblock %}
</table>