{% extends 'base.html' %}

{% block title %} Добавить и удалить пароль {% endblock %}

{% block body %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-4">
        <span class="fs-4">Мониторинг комплекса энергосбережения</span>
    </a>
    <form method="post" class="form-contact">
    <ul class="nav nav-pills">



            <li class="nav-item">

                <label>Добавить пароль: </label> <input type="text" name="psw" value=""/>

            </li>
            <li class="nav-item">
                <input class="btn btn-outline-success btn-sm" type="submit" value="Добавить"/>
            </li>

    </ul>
        </form>
</header>



{%for password in paswords%}

<div class="container">
    <div class="row">
        <div class="col">
        <div class="p-3">{{password}}</div>
        </div>

        <div class="col-sm">
            <form action="/delete-password" method="POST">
            <input type="hidden" name="delete" value="{{password}}">
            <input type="submit" class="btn btn-outline-danger" value="Удалить">
            </form>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}