{% extends 'base.html' %}

{% block title %} Добавить и удалить пароль {% endblock %}

{% block body %}

<form method="post" class="form-contact align-items-center border-bottom mb-4">
    <div class="d-flex bd-highlight mt-4 mb-4 align-items-center">
        <div class="p-2 flex-grow-1 bd-highlight"><a href="/"
                                                     class="d-flex align-items-center me-md-auto text-white text-decoration-none fs-4">
            <span class="fs-3">Мониторинг комплекса энергосбережения</span>
        </a></div>

        <div class="p-1 bd-highlight align-items-center">

            <label>Добавить пароль: </label>
        </div>
        <div class="bd-highlight align-items-center">

            <input class="form-control form-control-sm" placeholder="пароль" type="text" name="psw"
                                                    value=""/>
        </div>
        <div class="p-1 pe-3 bd-highlight align-items-center border-end">
            <input class=" btn btn-outline-success btn-sm " type="submit" value="Добавить"/>
        </div>

        <div class="p-3 bd-highlight align-items-center ">
            <a href="/" class="btn btn-success">Главная</a>
        </div>


    </div>
</form>

<h4 class="p-3 border-right-0">Список паролей, по которым есть доступ:</h4>
{%for password in paswords%}

<div class="container text-white">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 border border-secondary">
            <div class="row">
                <div class="col-10">
                    <div class="p-3">{{password}}</div>
                </div>

                <div class="col-2 p-3">
                    <form action="/delete-password" method="POST">
                        <input type="hidden" name="delete" value="{{password}}">
                        <input type="submit" class="btn btn-outline-danger" value="Удалить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}