{% extends 'base.html' %}

{% block title %} Добавить и удалить пароль {% endblock %}

{% block body %}

<form method="post" class="form-contact">
    <p><label>Пароль: </label> <input type="password" name="psw" value=""/>
    <p><input type="submit" value="Добавить"/>
</form>

{%for password in paswords%}
<br>
{{password}}
<form action="/delete-password" method="POST">
    <input type="hidden" name="delete" value="{{password}}">
    <input type="submit" class="btn btn-outline-danger" value="Удалить">
</form>


{% endfor %}
{% endblock %}